BasedOnStyle: LLVM

Language: Cpp
Standard: c++11

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

SortIncludes: false

BinPackArguments: true
BinPackParameters: true

IndentCaseLabels: false
